{% extends "template.html" %}

{% block content %}
  <div class="container-fluid" style="height: 100vh; padding-top: 1vh">
    <div class="row">
      <div class="col-10 offset-1" style="border: thin solid grey; border-radius: 10px;">

        <!-- HEADING -->
        <div class="row d-flex justify-content-center" style="height: 10vh; padding: 0; background: lightskyblue; border-radius: 10px;">
          <div class="align-self-center">
            <h1>Human-AI Team Diagnosis</h1>
          </div>
        </div>

        <!-- CONTENT -->
        <div class="row" style="height: 70vh; background: #c7e6f7; padding: 0; border-radius: 10px;">

          <!-- LEFT -->
          <div class="col-7">
            <div class="row" style="background: ghostwhite;">
              <div id="stateCarousel" class="carousel slide" data-ride="carousel" style="width: 100%">
                <div class="carousel-inner">

                  <!-- Directions -->
                  <div class="carousel-item">
                    <div class="col">
                      <div class="row" style="height: 70vh; background: rgba(120,180,255,0.2); padding: 1vh">

                        <h2>Directions</h2>
                        <p> 
                          <b>Objective</b>: You will see a series of 50 patients and the objective is to diagnose them as either (1) sick or (2) healthy.<br>

                          <b>Info</b>: For each patient, you will see information about their health, including "insert features". Note: no prior knowledge of medicine is needed nor expected for these tasks. <br>

                          <b>AI</b>: You will have the help of an AI tool that predicts whether each patient is sick or healthy. You can either choose to go with the AI’s prediction or manually select an option. Everytime you diagnose a patient, you will be told whether your decision was right or wrong and how many points you gained. <br>

                          <b>Updating the AI</b>: The AI isn't always correct in diagnosing patients. When you disagree with the AI prediction, you can help the AI learn from its mistakes by clicking the update button.  <br>

                          <b>How to gain points</b>: 
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- Task -->
                  <div class="carousel-item active">
                    <div class="col">
                      <div class="row" style="height: 70vh; background: #c7e6f7; padding: 1vh;">
                        <div id="task" style="height: 100%; width:100%; background: #c7e6f7;">
                          <h2>Patient Profile</h2>
                          <p> 
                            <b>Features:
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- RIGHT -->
          <div class="col-5">
            <div class="row" style="height: 15%; background: #c7e6f7; padding-left: 2vh; padding-bottom: 1vh; padding-right: 1vh; padding-top: 1vh">
              <div class="row" style="height: 100%">
                <div class="col-12">
                  <div class="row justify-content-center" style="height: 100%">
                    <!-- Default checked -->
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch1"  checked>
                      <label class="custom-control-label" for="customSwitch1">View directions</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center" style="height: 85%; background: #c7e6f7; padding-left: 1vh; padding-bottom: 2vh; padding-right: 1vh; padding-top: 0vh">
              <div id="scatterDiv" class="align-self-center" style="height: 100%; width:100%; background: #c7e6f7;">

                <!-- Diagnose-->
                <div class = "row justify-content-center" style="height: 50%;">
                  <div id="buttonDiv" class = "align-self-center" style="height: 100%; width:100%">
                    AI's recommendation: <span id="ai-prediction" style="color: blue;">Positive</span>
                    <br>
                    AI's confidence: <span id="ai-prediction" style="color: blue;">80%</span>
                    <br>
                    <br>
                    Your diagnosis: <br>
                    <button type="button" class="btn btn-success">Positive</button>
                    <button type="button" class="btn btn-danger">Negative</button>
                  </div>
                </div>
                <!-- Score -->
                <div class = "row justify-content-center" style="height: 50%;">
                  <div id="scoreDiv" class = "align-self-center" style="height:100%; width:100%">
                    <h3> Your current score: <span id="score">20</span> pts</h3>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div>

  <!-- <h1>Experiment Home</h1>
  <p>Welcome to the Human AI Trust Experiment, an experience developed by <em>Kavya, Eric, and Jackson</em>!</p>
  <h2>Dynamic content</h2>
  <p>The database has the following record count: {{ num_responses }}</p>
    
    {% for response in user_responses %}
    <ul>
      <li>{{ response.field_data_point_string }}</li>
      <li>{{ response.field_ml_accuracy }}</li>
      <li>{{ response.field_ml_confidence }}</li>
      <li>{{ response.field_ml_prediction }}</li>
      <li>{{ response.field_user_prediction }}</li>
      <li>{{ response.field_user_did_update }}</li>
      <li>{{ response.field_user_disagree_reason_choices }}</li>
      <li>{{ response.field_user_disagree_reason_freetext }}</li>
    </ul>
    {% endfor %} -->
  
{% endblock %}